<html>
{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
        <p>You are not logged in</p>
    {% endif %}
    <br/>
    <div class="jumbotron">
        <h1 class="display-4">LibraryMojo</h1>
        <p class="lead">A Library Where books exist.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#"
               role="button">View All Book</a>
               <a class="btn btn-primary btn-lg" href="#"
               role="button">View Borrowed books</a>
        </p>
    </div>
{% endblock content %}
</html>
